<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
  </ol>
</nav>
<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body text-center">15 Bootcamps</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" routerLink="/admin/bootcamps" routerLinkActive="active">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-warning text-white mb-4">
      <div class="card-body text-center">50 Courses</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" routerLink="/admin/bootcamps" routerLinkActive="active">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-success text-white mb-4">
      <div class="card-body text-center">0 Bookings</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" routerLink="/admin/bootcamps" routerLinkActive="active">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-secondary text-white mb-4">
      <div class="card-body text-center">1 Users</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" routerLink="/admin/users" routerLinkActive="active">View Details</a>
        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</div>
<app-bootcamps></app-bootcamps>
