<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark border-bottom" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/img/logo.png" class="logo" alt="logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-block">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/">Home</a>
        </li>
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link text-primary" >|</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/">Bootcamps</a>
        </li>
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link text-primary" >|</a>
        </li>
        <li class="nav-item dropdown">
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Account</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem routerLink="/admin/bootcamps" routerLinkActive="active">Manage Bootcamp</button>
<!--              <button ngbDropdownItem>Manage Reviews</button>-->
<!--              <button ngbDropdownItem>Manage Account</button>-->
<!--              <button ngbDropdownItem>Logout</button>-->
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bottom Navbar -->
<nav class="navbar bottom-menu navbar-expand fixed-bottom border-top d-md-none d-lg-none d-xl-none p-0" style="background-color: #e3f2fd; color: #fc7529">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class="nav-link text-center">
        <i class="fa fa-home"></i>
        <span class="small d-block">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/categories" routerLinkActive="active" class="nav-link text-center">
        <i class="fa fa-list"></i>
        <span class="small d-block">Bootcamps</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" routerLink="/admin" routerLinkActive="active">
        <i class="fa fa-user"></i>
        <span class="small d-block">Manage </span>
      </a>
    </li>
  </ul>
</nav>
